body {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
margin-top: 150px;
background-color: #F7F4E3;
}

.gradient {
background-image: radial-gradient(#389168,#F7F4E3);
}



h1 {
  font-style: italic;
  color: #389168;
  letter-spacing: 2px}

h3 {float: left;
  color: #389168;
}

button {
  background-color: #D2E1C8}

input {
  margin-top: 220px;
text-align-last: center;
spacing: 0px;
  }

.horisontell {
display: flex;
flex-direction: row

}
.vertikal
{display:flex;
  flex-direction: column;
}

.inputs{
  width: inherit;
  display: flex;
  flex-direction: row;
  margin: 50px 0px 80px 0px;
  width: 800px;
}


.addOption {
  margin-top: 10px;
margin-bottom:10px;
}
