body {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
margin-top: 150px;
background-color: #EBBA91;
}

.gradient {
background-image: radial-gradient(#EBBB91);

}

img {float: left;
    margin-left: 1px;
    margin-top: 5px;
  }

h1 {
  font-style: italic;
  color: lightblue;
  letter-spacing: 2px}

button {
  background-color: lightblue}

input {
  margin-top: 250px;
text-align-last:center;
  }

.blockinputsection {
margin: 50px 0px 80px 0px;
width: 800px;
}

.inputs{
  width: inherit;
  display: flex;
  flex-direction: row;}

.inputtext {
  display: flex;
  flex-direction: row;}

.addOption {
  margin-top: 10px}
